## Automotive Mechanic Shop Data Generator

by Elijah O.B. Riley

A python based test data generator, that exports test data for appointment records at an auto machanics shop.

### 1. Import required libraries

In [1]:
import random
import csv
import string
import pandas as pd
from faker import Faker
from faker.providers import BaseProvider
from datetime import datetime, time
fake = Faker()

### 2. Create the customer provider

In [2]:
class customerProvider(BaseProvider):
    
    # Returns a full name eg. Brenda Nelson
    def nameGenerator(self):
        return fake.name()
    
    # Returns an area in Trinidad and Tobago 
    def areaGenerator(self):
        areas = ["Chaguanas", "San Fernando", "Port of Spain", "Arima", "Couva", "Point Fortin", "Princes Town",
                "Diego Martin", "Laventille", "Sangre Grande", "Tunapuna", "Scarborough", "Marabella", "Siparia",
                "Rio Claro", "Cunupia", "Debe", "Malabar Settlement", "Woodbrook", "Saint James", "Peru",
                "Mucurapo", "Corbeaux Town", "Coffee", "Vistabella", "Pleasantville", "La Pique", "Spring Vale",
                "Mon Repos", "Saint Joseph", "Gonzales", "Boissiere Village", "Saint Clair", "East Dry River",
                "Aranguez", "Union", "Palmiste", "Belmont", "Saint Thomas", "Cacandee Settlement", "Felicity",
                "Lendor", "Enterprise", "Jermingham Junction", "Montrose", "Edinburgh", "Cumberbatch", "Victoria",
                "Maturita", "Cocorite", "Canaan", "Bacolet", "Calder Hall", "Mount Grace", "Rockly Vale", "Lambeau",
                "Patience Hill", "Lower Town", "Union", "Prospect", "Grafton", "Morne Quiton", "Harmony Hall",
                "La Basse", "Sea View Gardens", "Sierra Leone", "Bayshore", "Coco", "Mount Pleasant", "Green Hill",
                "Glencoe", "Riche Plaine", "La Retraite", "Cameron", "Chaguaramas", "Petit Bourg", 
                "Four Roads", "Dibe", "La Finette", "Goodwood Park", "Petit Valley", "Carenage", "Hartâ€™s Cut",
                "Maraval", "Diamond", "Cap-de-Ville", "Guapo", "Point Ligoure", "Providence", "Riseland",
                "Carnbee Village", "Curucaye", "Maracas Bay Village", "El Socorro", "Earthigg", "Barataria", "Guamal",
                "Santa Cruz", "Morvant"
                ]

        return(random.choice(areas))

fake.add_provider(customerProvider)

### 3. Create the vehicle provider

In [3]:
class vehicleProvider(BaseProvider):
    
    # Returns a year between 2005 and 2020, eg.2007
    def manufacture_year(self):
        return random.randint(2005, 2020)
    
    # Returns a car model, eg. Honda Civic
    def vehicleModel(self):
        vehicle_models = [
            'Toyota Corolla', 'Toyota Hilux', 'Toyota Aqua', 'Toyota RAV4', 'Toyota Land Cruiser Prado',
            'Nissan Pathfinder', 'Nissan X-Trail', 'Nissan Sentra', 'Nissan Juke', 'Nissan Altima',
            'Honda Accord', 'Honda Civic', 'Honda CR-V', 'Honda HR-V', 'Honda City',
            'Ford Fusion', 'Ford Fiesta', 'Ford Ranger', 'Ford Escape', 'Ford Focus',
            'Chevrolet Colorado', 'Chevrolet Malibu', 'Chevrolet Equinox', 'Chevrolet Trailblazer', 'Chevrolet Bolt',
            'BMW 3 Series', 'BMW 5 Series', 'BMW X5', 'BMW X3', 'BMW M3',
            'Audi A4', 'Audi A6', 'Audi Q5', 'Audi Q7', 'Audi TT',
            'Mercedes-Benz C-Class', 'Mercedes-Benz E-Class', 'Mercedes-Benz S-Class', 'Mercedes-Benz GLC', 'Mercedes-Benz GLE',
            'Volkswagen Golf', 'Volkswagen Passat', 'Volkswagen Tiguan', 'Volkswagen Jetta', 'Volkswagen Touareg',
            'Hyundai Elantra', 'Hyundai Sonata', 'Hyundai Tucson', 'Hyundai Santa Fe', 'Hyundai Genesis'
        ]

        return random.choice(vehicle_models)
    
    # Returns a Trinidad & Tobago licence plate eg.PDA2871
    def licence_number(self):
        
        # 10 times more likely to generate a plate starting with P, than one with H
        plate = random.choice(['P'] * 10 + ['H'])
        
        #Second character can be 'C' or 'D'
        plate += random.choice(['C','D','E'])
        
        #Third letter can be any letter except I,V,O,Q
        third_letter = string.ascii_uppercase.replace('I','').replace('V','').replace('O','').replace('Q','')
        plate += random.choice(third_letter)
        
        #The plate digits ranging from 1 to 1000
        number = str(random.randint(1, 9999))
        plate += number
        
        return (plate)

fake.add_provider(vehicleProvider)

###  4. Create the appointment provider

In [4]:
class appointmentProvider(BaseProvider):
    
    #Returns a random date eg. 2021-11-27
    def appointment_date(self):
        
        # Generate a date between 2020 and Todays's Date
        date = self.generator.date_time_between(start_date='-4y', end_date='now')
        
        # Format the date YYYY-MM-DD
        formatted_date = date.strftime("%Y-%m-%d")
        
        return formatted_date
    
    # Returns an appointment time eg. 10:45:00
    def appointment_time(self):
        
        # Generate a random hour between 8am and 2pm
        hour = random.choice(range(8, 14))
        # Minutes are either 0, 15, 30, or 45 for 15min intervals
        minute = random.choice(['00', '15', '30', '45'])
        #format the time HH-MM-SS
        formatted_time = str(str(hour)+':'+minute+':00')
        
        return formatted_time

    # Returns a service that the shop performed on a vehicle. eg. Battery Replacement
    def service_provided(self):
        
        vehicle_services = [
            'Oil Change', 'Brake Inspection and Repair', 'Tire Rotation and Replacement', 'Engine Diagnostics',
            'Transmission Repair', 'Exhaust System Repair', 'Suspension Work', 'Wheel Alignment',
            'Battery Replacement', 'Cooling System Service (Radiator Repair)', 'Air Conditioning Service',
            'Windshield Replacement', 'Electrical System Troubleshooting', 'Fuel System Repair', 'Timing Belt Replacement',
            'Engine Repair', 'Clutch Repair and Replacement', 'Brake Fluid Flush',
            'Coolant System Flush', 'Emissions Testing', 'Computer Diagnostics',
            'Power Steering Repair', 'Driveline Repair', 'Manual Transmission Service', 'Automatic Transmission Service',
            'Fuel Injection Cleaning', 'Oil Leak Service', 'TPMS Service', 'Headlight Restoration'
        ]
        return random.choice(vehicle_services)

fake.add_provider(appointmentProvider)

### 5. Create a dataframe, and populate it with records

In [10]:
def generate_record():
    
    # Returns a record
    return {
        'Customer Name':    fake.nameGenerator(),
        'Customer Area':    fake.areaGenerator(),
        'Vehicle Year':     fake.manufacture_year(),
        'Vehicle Model':    fake.vehicleModel(),
        'License Plate':    fake.licence_number(),
        'Appointment Date': fake.appointment_date(),
        'Appointment Time': fake.appointment_time(),
        'Service':          fake.service_provided()
    }

# Generates records as a list of dictionaries
data = [generate_record() for _ in range(12500)]

# Converts the list of record dictionaries into a pandas DataFrame
df = pd.DataFrame(data)

# Display the first few rows of the DataFrame to ensure it works correctly
df.head()

,Customer Name,Customer Area,Vehicle Year,Vehicle Model,License Plate,Appointment Date,Appointment Time,Service
0,Joseph Schmidt,Spring Vale,2009,Hyundai Genesis,PDF8560,2020-07-22,8:30:00,Coolant System Flush
1,Samantha Robles,La Pique,2009,Honda Accord,PEY2107,2023-10-03,13:45:00,Air Conditioning Service
2,Sherry Watson,Sangre Grande,2017,Toyota Aqua,PDY3193,2021-05-03,12:30:00,Tire Rotation and Replacement
3,Amber Williamson,Sangre Grande,2011,Volkswagen Touareg,PDX1204,2021-03-21,11:45:00,Electrical System Troubleshooting
4,Jason Smith,Canaan,2016,Honda City,PDA7216,2020-10-30,9:15:00,TPMS Service

### 6. Clean and sort data

In [11]:
# Coverts the 'Appointment date' into a datetime object
df['Appointment Date'] = pd.to_datetime(df['Appointment Date'])

# Coverts the 'Appointment time' into a time object
df['Appointment Time'] = pd.to_datetime(df['Appointment Time'], format='%H:%M:%S').dt.time

# Removes any records that have a license plate that appears in another record
df = df.drop_duplicates(subset='License Plate', keep='first')

# Removes records that have an appointment time and date that already appears in the dataframe
df['DateTime'] = pd.to_datetime(df['Appointment Date'].astype(str) + ' ' + df['Appointment Time'].astype(str))
df = df.drop_duplicates(subset=['DateTime'], keep='first')
df = df.drop(columns='DateTime')

# Sorts the records according to the appointment date and time (most recent record to the top)
df = df.sort_values(by=['Appointment Date','Appointment Time'], ascending=[False,False])

### 7. Add a calculated service cost to each record

In [12]:
# Dictionary mapping each service to a cost
vehicle_service_costs = {
    'Oil Change': 280,
    'Brake Inspection and Repair': 1400,
    'Tire Rotation and Replacement': 700,
    'Engine Diagnostics': 840,
    'Transmission Repair': 2200,
    'Exhaust System Repair': 1750,
    'Suspension Work': 2100,
    'Wheel Alignment': 560,
    'Battery Replacement': 1050,
    'Cooling System Service (Radiator Repair)': 1300,
    'Air Conditioning Service': 800,
    'Windshield Replacement': 1700,
    'Electrical System Troubleshooting': 750,
    'Fuel System Repair': 1100,
    'Timing Belt Replacement': 450,
    'Engine Repair': 2450,
    'Clutch Repair and Replacement': 1200,
    'Brake Fluid Flush': 650,
    'Coolant System Flush': 700,
    'Emissions Testing': 250,
    'Computer Diagnostics': 750,
    'Power Steering Repair': 1100,
    'Driveline Repair': 1600,
    'Manual Transmission Service': 1750,
    'Automatic Transmission Service': 1100,
    'Fuel Injection Cleaning': 630,
    'Oil Leak Service': 1000,
    'TPMS Service': 540,
    'Headlight Restoration': 550
}

# Adds a Cost column that maps the service in the record to it's standard cost
df['Cost'] = df['Service'].map(vehicle_service_costs)

# Dictionary mapping each Car Manufacturer to a cost factor
# eg. every service done on a BMW cost 2 times the standard cost for that service
manufacturer_factors = {
    'Toyota': 1,
    'Nissan': 1.1,
    'Honda': 1.1,
    'Ford': 1.3,
    'Chevrolet': 1.3,
    'BMW': 2,
    'Audi': 1.9,
    'Mercedes-Benz': 2.5,
    'Volkswagen': 1.3,
    'Hyundai': 1.1
}

# Multiplys the cost by the factor that is associated with car's manufacturer
# eg. a Ford Mustang's oil change will cost 280 * 1.3 = 364
def adjust_value(row):
    manufacturer_name = row['Vehicle Model'].split()[0] 
    factor = manufacturer_factors.get(manufacturer_name, 1)  
    return int(row['Cost'] * factor)
df['Service Cost'] = df.apply(adjust_value, axis=1)
df = df.drop(columns='Cost')

df.head()

,Customer Name,Customer Area,Vehicle Year,Vehicle Model,License Plate,Appointment Date,Appointment Time,Service,Service Cost
2891,Joan Flores,Woodbrook,2016,Toyota Hilux,PEU2557,2024-04-14,12:00:00,Cooling System Service (Radiator Repair),1300
5681,Sandra Sims,San Fernando,2012,Toyota RAV4,PCW7917,2024-04-14,09:15:00,Brake Fluid Flush,650
1005,Bill Padilla,Morne Quiton,2016,Volkswagen Jetta,PEP6974,2024-04-13,13:15:00,Driveline Repair,2080
6965,Alicia Coleman,Cocorite,2019,Audi A4,PCA6692,2024-04-13,12:45:00,Air Conditioning Service,1520
1103,Ryan Rodriguez,Cameron,2005,Chevrolet Malibu,PCP7903,2024-04-13,12:15:00,Tire Rotation and Replacement,910

### 8. Export a CSV file

In [13]:
df.to_csv('rilco_automechanics_records.csv', index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10381 entries, 2891 to 5938
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer Name     10381 non-null  object
 1   Customer Area     10381 non-null  object
 2   Vehicle Year      10381 non-null  int64
 3   Vehicle Model     10381 non-null  object
 4   License Plate     10381 non-null  object
 5   Appointment Date  10381 non-null  datetime64[ns]
 6   Appointment Time  10381 non-null  object
 7   Service           10381 non-null  object
 8   Service Cost      10381 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 811.0+ KB